# ~/.docker-aliases - managed by Ansible template

# Docker
alias dps='docker ps'
alias dpsa='docker ps -a'
alias dlog='docker logs -f'
alias dex='docker exec -it'

# PostgreSQL via Docker
# Usage: dsql "SELECT * FROM users;"
alias dsql='docker exec -it "$DSQL_CONTAINER" psql -U "$DSQL_USER" -d "$DSQL_DB" -c'
alias pg-tables='dsql "\dt"'

pg-desc() { dsql "\d+ $1"; }
pg-all()  { dsql "SELECT * FROM $1;"; }
