# ~/.aliases - managed by Ansible template
# Add your custom aliases below. Lines beginning with # are comments.

# Basic listing shortcuts
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Git helpers
alias gs='git status'
alias ga='git add'
alias gc='git commit -m'
alias gco='git checkout'
alias gp='git push'

# General convenience
alias c='clear'
alias ..='cd ..'
alias ...='cd ../..'

# Shortcuts
alias py='python3'
alias v='vim'
alias e='exit'
alias vz='v ~/.zshrc'
alias sz='source ~/.zshrc'

# Kubernetes
alias k='kubectl'
